main{
    position: relative;
    width: 90%;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: #edf1f9;
    text-align: left;
    letter-spacing: 0px;
    line-height: 175%;
    word-wrap: break-word;
    background-color: #1c232d;
}
#left-sidebar{
    
    display: block;
    width: 18%;
    height: 600px;
    position: fixed;
    padding: 20px 30px ;
}
#left-wrap{
    display: block;
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}

.rline{
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 0px 12px aqua;
    width: 4px;
    height: 650px;
    top: 10px;
    right: 1px;
    border-radius: 50%;
    overflow: hidden;
}

.lline{
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 0px 12px aqua;
    width: 4px;
    height: 650px;
    top: 10px;
    right: 283px;
    border-radius: 50%;
    overflow: hidden;
}


#sidebarimg{
    width: 100%;
    height: auto;
    z-index: -1;
}
#sidebarimg img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
    text-decoration: none;
}
#name{
    font-size: calc(12px + 2px);
    font-weight: 600;
    color: #3aacff;
    vertical-align: middle;
    margin: 1em 0 0 .2em 0;
    letter-spacing: 0;
}
#name a{
    color: #3aacff;
}
a{
    color: #edf1f9;
    text-decoration: none;
    transition: all 0.3s;

}
#desc{
    display: block;
    margin-top: 0.75em;
}

nav{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 3px;
    margin: 50px 0;
}

nav a{
    display: block;
    color: #edf1f9;
    padding: 3px 6px;
    border-radius: 3px;
    margin-left: -2px;
}
.col-lg-8, .col-md-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.contact-wrap h3{
    color: #edf1f9;
}
.text-centre{
    text-align: center !important;
}
.mb-4, .my-4{
    margin-bottom: 1.5rem !important;
}
#form-message-warning{
    color: lightcoral;
}
#form-message-warning, #form-message-success{
    display: none;
}
.w-100{
    width: 100% !important;
}
#form-message-success{
    color: lightgreen;
    font-size: 20px;
    font-weight: 700;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group{
    margin-bottom: 1rem;
}
#contactform .form-control{
    font-size: 16px;
    border: none;
}
.form-control{
    height: 50px;
    background: #3aacff;
    color: #edf1f9;
    border-radius: 5px;
    box-shadow: none !important;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
input{
    overflow: visible;
}
input, textarea{
    margin: 0;
    font-family: inherit;
}


#right-sidebar{
    display: block;
    width: 225px;
    height: 600px;
    padding-top: 5px;
    padding: 20px 30px ;
}
#right-wrap{
    position: fixed;
    width: 225px;
}
#projects{
    display: block;
    margin-bottom: 60px;
}

#pro-wrap{
    display: block;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}

#pro-top{
    border-bottom: 1px solid 3aacff;
    padding: 1.25em 1.25em 1em 1.25em;
}
#pro-title{
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    line-height: 125%;
}
#pro-bottom{
    padding: 1.25em;
}

#pro-bottom span{
    display: block;

}

#pro-bottom span b{
    display: inline-block;
    width: 38%;
}

.meter{
    height: 6px;
    position: relative;
    background: #eeeeee;
    border-radius: 2px;
    padding: 0px;
    margin: 1.25em 0 1.75em 0;
}
element{
    width:75%;
}
.meter > span{
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #3aacff;
    position: relative;
    overflow: hidden;
}

.meter > span::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;

}

section{
    margin-top: 5%;
    margin-left: 35%;
    position: relative;
    width: 450px;
}

.entry{
    overflow: hidden;
    background: #edf1f900;
   
}

.post-title{
    padding: 25px;
    font-weight: 700;
    font-size: 2.05em;
    color: #3aacff;
    background: rgba(255, 255, 255, 0);
}


.comment{
    padding: 40px;
    list-style: none;
}

p:first-of-type{
    margin-top: 0;
}
p{
    font-size: 1.25em;
    margin: .7em 0;

}