body {
  background: #f8f8f8;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  letter-spacing: 1px;
  margin: 0px;
  text-align: left;
  text-transform: none;
  word-wrap: break-word;
}

#iit-wrapper {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100px;
}

#iit-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-image {
  height: 70px;
  margin-top: 20px;
  width: 70px;
}

.icon-image img {
  border-radius: 100px;
  height: 70px;
  width: 70px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 12px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 40%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #e45936;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #e45936;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 25px;
  background-color: #e45936;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #e45936;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}

input.check-toggle-round-flat + label:after {
  top: 2px;
  left: 4px;
  bottom: 2px;
  width: 40px;
  background-color: #fff;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 36px;
}

.title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: lowercase;
  transform: rotate(180deg);
  white-space: nowrap;
  writing-mode: vertical-rl;
}

#info {
  background-image: url("https://github.com/axlna/HTML-Introduction-by-IEEE-SB-Kastoria-2/blob/main/pics/pexels-photo-16511744.jpeg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid #eeeeee;
  height: 100%;
  margin-left: 100px;
  position: fixed;
  top: 0px;
  width: 300px;
}

.dl-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: calc(100%-40px);
  margin-left: 20px;
  margin-top: 20px;
  width: 260px;
}

.description {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  width: 220px;
}

.links {
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
}

.links a {
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: #cfcfcf;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}

#posts-wrapper {
  margin-left: 200;
  width: calc(100% -200px);
}

#posts {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 452px;
}

.entries {
  margin-bottom: 50px;
  width: 452px;
}

.entries-wrapper {
  background: #ffffff;
  border: 1px solid #e2d1d1;
  width: 835px;
}

.top-post-info {
  border-bottom: 1px solid #e2d1d1;
  padding: 20px;
}

.pslr {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.pslr-a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.date {
  display: inline-block;
  margin-right: 10px;
}

.text-wrapper {
  margin: 20px;
}

h1 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-block-start: 0em;
  text-transform: lowercase;
}
blockquote.parent:last-child {
  border: none;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.text p {
  margin-top: 0px;
}
.preimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preimg img {
  max-width: 100%;
  max-height: 300px;
}

button {
  background: #81070781;

  border: none;
  margin-top: 2em;
  padding: 10px;
  color: #d0d4dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  letter-spacing: 1px;
  border-radius: 3px;
}

.dark-mode button {
  background: #00000081;
}

.dark-mode button:hover {
  color: #555555;
}

button:hover {
  transition: all 0.5s ease;
  color: #f89393;
}

body.dark-mode {
  background: #1c232d;
}

.dark-mode .entries-wrapper,
.dark-mode .top-post-info {
  background: #232932c1;
  border: 1px solid #1b172996;
  color: #a4a7ab;
}

.dark-mode .description,
.dark-mode .links {
  background-color: #262d36;
  color: #b3b6bc;
}
.dark-mode #info {
  background-image: url("https://github.com/axlna/HTML-Introduction-by-IEEE-SB-Kastoria-2/blob/main/pics/pexels-photo-2098427.jpeg?raw=true");
}

.dark-mode .switch > span.on,
.dark-mode input.check-toggle-round-flat:checked ~ .off {
  color: #3aacff;
}

.dark-mode input.check-toggle-round-flat + label:before,
.dark-mode input.check-toggle-round-flat + label {
  background-color: #3aacff;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

body,
.description,
.links,
.entries-wrapper,
.top-post-info,
#info {
  transition: all 0.5s ease;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label,
input,
textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 200px;
}

.fbutton {
  background: #b54949;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  letter-spacing: 1px;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.dark-mode .fbutton {
  background: #00000081;
}

.dark-mode .fbutton:hover {
  color: #555555;
}

.dark-mode .input {
  color: #262d36;
}

.fbutton:hover {
  transition: all 0.5s ease;
  color: #f89393;
}

.projects::before {
  content: "\f0ae";
  font: var(--fa-font-solid);
}

.contact::before {
  content: "\f2b9";
  font: var(--fa-font-regular);
}

.calendar::before {
  content: "\f133";
  font: var(--fa-font-regular);
}

.about::before {
  content: "\f007";
  font: var(--fa-font-solid);
}

.github::before {
  content: "\f09b";
  font: var(--fa-font-brands);
  font-size: x-large;
}

.email::before {
  content: "\f0e0";
  font: var(--fa-font-regular);
  font-size: 22px;
  cursor: pointer;
}

.email::before,
.github::before {
  color: #d0d4dc;
}
.dark-mode .about,
.dark-mode .calendar::before,
.dark-mode .home::before,
.dark-mode .contact::before,
.dark-mode .projects::before,
.dark-mode a {
  color: rgb(203, 206, 209);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  width: 120px;
  height: auto;
  top: 5px;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext,
.tooltip.clicked .tooltiptext {
  visibility: visible;
}

.socials {
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  display: flex;
  align-items: center;
}

.socials span {
  display: block;
  width: 20px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-device-width: 414px),
  screen and (max-width: 414px),
  screen and (max-device-width: 768px),
  screen and (max-width: 768px),
  screen and (max-device-width: 1024px),
  screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
  #iit-wrapper {
    align-items: center;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
  }

  #iit-group {
    display: flex;
    flex-direction: row;
  }

  .socials {
    position: static;
    flex-direction: row;
  }

  .socials span {
    height: 100%;
    margin-right: 20px;
  }

  .icon-image {
    height: 70px;
    margin-top: 5px;
    width: 70px;
  }

  .icon-image img {
    border-radius: 100px;
    height: 60px;
    width: 60px;
  }

  .title {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: lowercase;
    transform: none;
    writing-mode: horizontal-tb;
    white-space: nowrap;
    padding: 0 10px;
  }
  #info {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }


  
  .description {
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 100%;
  }
  
  .links {
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  button {
    margin-top: 1rem;
  }
  
  
  
  
  
  
  

  #posts-wrapper {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 15%;
  }

  #posts {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }

  .entries {
    margin-bottom: 2rem;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .entries-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .top-post-info {
    padding: 1rem;
  }

  .pslr {
    flex-wrap: wrap;
  }

  form {
    max-width: 400px;
  }

  textarea {
    height: 150px;
  }

  .fbutton {
    padding-left: 20px;
    padding-right: 20px;
  }

  .home::before,
  .projects::before,
  .contact::before,
  .calendar::before,
  .about::before,
  .github::before,
  .email::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }

  .projects::before {
    content: "\f0ae";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .contact::before {
    content: "\f2b9";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
  }

  .calendar::before {
    content: "\f133";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
  }

  .about::before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .github::before {
    content: "\f09b";
    font-family: "Font Awesome 5 Brands";
    font-size: 1.2rem;
  }

  .email::before {
    content: "\f392";
    font-family: "Font Awesome 5 Brands";
    font-size: 1.2rem;
  }

  .email::before,
  .github::before {
    color: #d0d4dc;
  }

  .dark-mode .about,
  .dark-mode .calendar::before,
  .dark-mode .home::before,
  .dark-mode .contact::before,
  .dark-mode .projects::before,
  .dark-mode a {
    color: rgb(203, 206, 209);
  }
  .dark-mode .about,
  .dark-mode .calendar::before,
  .dark-mode .home::before,
  .dark-mode .contact::before,
  .dark-mode .projects::before,
  .dark-mode a {
    color: rgb(203, 206, 209);
  }
}
@media screen and (max-device-width: 414px), screen and (max-width: 414px) {
  .dl-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60vh;
  }
}

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
  .dl-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75vh;
  }
}
